---

import { Image } from 'astro:assets'
import LinkedinLogo from '../assets/linkedin-logo.svg'
import GithubLogo from '../assets/github-logo.svg'
import DownloadIcon from '../assets/download-icon.svg'
import EmailIcon from '../assets/email-icon.svg'
import { useTranslations } from '../i18n/utils'
import { getLangFromUrl } from '../i18n/utils'
import { getCVUrl } from '../utils/getCVUrl'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const contactLinks = [
  {
    icon: LinkedinLogo,
    href: 'https://www.linkedin.com/in/ariel-surco/',
    alt: t('contact.linkedin.alt')
  },
  {
    icon: GithubLogo,
    href: 'https://github.com/ArielSurco',
    alt: t('contact.github.alt')
  },
  {
    icon: DownloadIcon,
    href: getCVUrl(lang),
    alt: t('contact.download.alt')
  },
  {
    icon: EmailIcon,
    href: 'mailto:arielsurcoa@gmail.com',
    alt: t('contact.email.alt')
  }
]
---

<div class="fixed top-1/3 w-fit h-fit left-6 flex-col gap-4 z-50 hidden lg:flex">
  {contactLinks.map((link) => (
    <a href={link.href} target="_blank" title={link.alt}>
      <Image src={link.icon} alt={link.alt} width={30} height={30} />
    </a>
  ))}
</div>