---
import { translations } from "../i18n/translations";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { cn } from '../utils/cn'

const selectedLang = getLangFromUrl(Astro.url)

const t = useTranslations(selectedLang)

type Languages = 'es' | 'en'

const getAriaLabel = (lang: Languages) => {
  return t(`language-picker.${lang}.aria-label`)
}

---

<div class="bg-slate-400 rounded-full overflow-hidden">
  {Object.keys(translations).map((lang) => (
    <a href={selectedLang === lang ? '#' : `/${lang}`} class={cn(selectedLang === lang && 'bg-teal-500', 'py-2 px-3')} aria-label={getAriaLabel(lang as Languages)}>{lang.toUpperCase()}</a>
  ))}
</div>