---
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import LanguagePicker from "./language-picker.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

interface Link {
  name: string
  href: string
}

const links: Link[] = [
  {
    name: t('nav.home'),
    href: '#'
  },
  {
    name: t('nav.about'),
    href: '#'
  },
  {
    name: t('nav.skills'),
    href: '#'
  },
  {
    name: t('nav.projects'),
    href: '#'
  },
  {
    name: t('nav.contact'),
    href: '#'
  }
]
---

<nav class="bg-neutral-900 min-h-fit w-full text-white p-4 shadow-xl">
  <div class="max-w-[1200px] flex gap-3 items-center justify-between w-full mx-auto">
    <div class="flex gap-3">
      {links.map((link) => (
        <a class="hover:text-slate-200 text-xl hover:underline decoration-transparent hover:decoration-teal-400 underline-offset-4 transition-all duration-500" href={link.href} >{link.name}</a>
      ))}
    </div>
    <LanguagePicker/>
  </div>
</nav>