---

interface Props {
  id?: string
}

const { id } = Astro.props

---

<section id={id} class="min-h-fit relative text-slate-100 flex flex-col gap-10 justify-center items-center">
  <slot/>
</section>